@import '../../assets/theme/variables';

.todo-item__component {
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  border-top: solid 0.1rem rgba(108, 117, 125, 0.2);
  border-bottom: solid 0.1rem rgba(108, 117, 125, 0.2);
  padding: 0 1.5rem;

  + * {
    margin-top: -0.1rem;
  }

  input {
    width: 2rem;
    height: 2rem;
    margin: 0;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 0.1rem solid #cacece;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05),
      inset 0 -1.5rem 1rem -1.2rem rgba(0, 0, 0, 0.05);
    padding: 0.9rem;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  input:active,
  input:checked:active {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05),
      inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  }

  input:checked {
    background-color: #e9ecee;
    border: 0.1rem solid #adb8c0;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05),
      inset 0 -1.5rem 1rem -1.2rem rgba(0, 0, 0, 0.05),
      inset 1.5rem 1rem -1.2rem rgba(255, 255, 255, 0.1);
    color: #99a1a7;

    &:after {
      content: '\2714';
      font-size: 1.4rem;
      position: absolute;
      top: 0;
      left: 0.3rem;
      color: #99a1a7;
    }
  }

  p {
    margin: 0;
    color: $color-secondary;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
  }

  &.complete {
    opacity: 0.5;

    p {
      text-decoration: line-through;
    }
  }
}
