@import '../../assets/theme/theme.scss';

.todo-input__component {
  width: 100%;

  input {
    width: 100%;
    height: 6rem;
    border: 0;
    font-size: 1.8rem;
    padding: 0 1.5rem;
    background: rgba(108, 117, 125, 0.05);

    &:focus {
      outline: none;
    }
  }
}
